.date-picker{
  display: flex;
}

@media screen and (max-width: 720px) {
  .date-picker{
    flex-direction: column;
    .calendar-container{
      margin: 4px 4px 4px 4px;
      width: 95%;
      .table{
        line-height: 0.5;
      }

      .modification-row{
        margin-top: 2px;
      }

      .button {
        height: 20px;
      }

    }
  }
}

@media screen and (max-width: 315px) {
  .date-picker{

    .calendar-container{
      width: 90%;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 280px) {
  .date-picker{

    .calendar-container{
      width: 80%;
      font-size: 12px;
    }
  }
}

