.date-picker{
  display: flex;
}

@media screen and (max-width: 720px) {
  .date-picker{
    flex-direction: column;
    .calendar-container{
      margin: 20px 4px 4px 4px;
      width: 95%;
    }
  }
}

@media screen and (max-width: 315px) {
  .date-picker{

    .calendar-container{
      margin: 20px 4px 4px 4px;
      width: 90%;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 280px) {
  .date-picker{

    .calendar-container{
      margin: 20px 4px 4px 4px;
      width: 80%;
      font-size: 12px;
    }
  }
}

