.will-be-selected{
  background-color: orangered;
}

.table{
  .is-selected{
    &.will-be-selected{
      background-color: blue;
    }
  }
}

.button{
  &.blocked{
    background-color: grey;
  }
}
