.month-selection{
  display: flex;
  flex-direction: column;
  text-align: center;
  > .modification-row{
    display: flex;
    justify-content: space-between;
  }
}

.calendar-container{
  width: 50%;
  margin: 15px;
}

.will-be-selected{
  background-color: #4cffe6;
}

.table{
  width: 100%;
  margin-top: 5px;

  td {
    cursor: pointer;
  }

  .is-selected{
    &.is-selected-border{
      background-color: #226b5b;
    }
  }

  .is-selected-border{
    background-color: #226b5b;
  }

  .inactive{
    background-color: lightgray;
    color: grey;
  }

  .day:hover {
    background-color: #226b5b;
  }
}

.button{
  &.blocked{
    visibility: hidden;
  }
}
